<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/home']">Inicial</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Consultar dados</li>
    </ol>
  </nav>

  <div class="jumbotron">
    <h1>Consultar dados</h1>
  </div>

  <hr>

  <div class="first-form">
    <div class="row">
      <div class="col">
        <label class="col-sm-12 col-form-label">
          <b>Instituição</b>
          <input type="text" readonly class="form-control-plaintext" value="{{ rowsInstitution.nome }}">
        </label>
      </div>
      <div class="col">
        <div class="col">
          <label class="col-sm-12 col-form-label">
            <b>Nota Geral</b>
            <input type="text" readonly class="form-control-plaintext" value="{{ rowsInstitution.notageral }}">
          </label>
        </div>
      </div>
    </div>
  </div>

  <div id="top-row" class="row">
    <div class="col">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisa" aria-label="Search">
        <button id="btn-search" class="btn btn-primary my-2 my-sm-0" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
    <div id="add-new" class="col">
      <button type="button" class="btn btn-success" (click)="create(rowsInstitution.id)">
        Adicionar novo Curso
      </button>
    </div>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Curso</th>
        <th scope="col" id="grades">Nota do Curso</th>
        <th scope="col" id="grades">Média dos Alunos</th>
        <th scope="col" id="action">Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rowsCourses">
        <td scope="row"> {{ row.nome }} </td>
        <td id="grades"> {{row.notacurso}} </td>
        <td id="grades"> {{row.mediaaluno}} </td>
        <td id="action">
          <button type="button" class="btn btn-outline-primary btn-sm" (click)="update(row['id'])">
            <i class="fa fa-pencil-square-o"></i>
          </button>
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="delete(row['id'])">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>