.container {
    margin-top: 5%;
}

.jumbotron {
    text-align: center;
}

#top-row {
    margin-bottom: 1%;
}

#add-new {
    margin-left: 52%;
}

.btn-outline-danger {
    margin-left: 2%;
}

.btn-outline-primary {
    margin-left: 2%;
}

#action {
    text-align: center;
}

#general-note {
    text-align: center;
}

#nav-pag {
    float: right;
}