<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/home']">Inicial</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Adicionar nova Instituição</li>
    </ol>
  </nav>

  <div class="jumbotron">
    <h1>Adicionar nova Instituição</h1>
  </div>

  <hr>

  <form>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>
            <b>Nome Instituição</b>
          </label>
          <input type="text" class="form-control" placeholder="Nome Instituição">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>
            <b>Nota Geral</b>
          </label>
          <input type="number" class="form-control" placeholder="Nota Geral">
        </div>
      </div>
    </div>

    <button id="cancel" type="button" class="btn btn-danger" [routerLink]="['/home']">
      Cancelar
    </button>
    <button id="add-new" type="button" class="btn btn-success">
      Salvar
    </button>

  </form>
</div>