<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/home']">Inicial</a>
      </li>
      <li class="breadcrumb-item">
        <a [routerLink]="['/check_data']">Checar dados</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Adicionar novo Curso</li>
    </ol>
  </nav>

  <div class="jumbotron">
    <h1>Adicionar novo Curso</h1>
  </div>

  <hr>

  <form>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label><b>Nome Curso</b></label>
          <input type="text" class="form-control" placeholder="Nome Curso">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
            <label><b>Nota Curso</b></label>
          <input type="number" class="form-control" placeholder="Nota Curso">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
            <label><b>Média Alunos</b></label>
          <input type="number" class="form-control" placeholder="Média Alunos">
        </div>
      </div>
    </div>

    <button id="cancel" type="button" class="btn btn-danger" [routerLink]="['/home']">
      Cancelar
    </button>
    <button id="add-new" type="button" class="btn btn-success">
      Salvar
    </button>

  </form>
</div>